{% load i18n %}
{% autoescape off %}
{% blocktrans %}Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta de usuário em {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Por favor, clique no link abaixo para escolher uma nova senha:{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Se você não solicitou esta redefinição de senha, pode ignorar este e-mail. Sua senha não será alterada.{% endblocktrans %}

{% blocktrans %}Obrigado,{% endblocktrans %}
{% blocktrans %}A equipe de {{ site_name }}{% endblocktrans %}

{% endautoescape %}